
@{
    ViewBag.Title = "Logout";
}

<h2>Logout</h2>
You have been logged out.

In this session, you have visited the Contact page @Session["Counter"] times.<br />
Overall, you have visited the About page @Request.Cookies["Counter"].Value times.